html{
    margin: 0;
    height: 180%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    background:repeating-linear-gradient(#c94d4d,#f2a444,#f2afaf,#8a76e3,#c94d4d);
    font-size: larger;
}


h1{
    font-family: "Baskerville",serif;

}

p{
    width: 60%;
    text-align: center;
   
}

